<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CafeLINQ.Properties.Settings.CapheDBConnectionString"
            connectionString="Data Source=LAPTOP-BD2VFN78\SQLSERVER;Initial Catalog=CapheDB;Persist Security Info=True;User ID=sa;Password=minhtram@12"
            providerName="System.Data.SqlClient" />
        <add name="CafeLINQ.Properties.Settings.CapheDBConnectionString1"
            connectionString="Data Source=LAPTOP-BD2VFN78\SQLSERVER;Initial Catalog=CapheDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>